#////////////////////////////////////////////////////////////////////////////
# .env.example - variables de entorno (ejemplo).
#////////////////////////////////////////////////////////////////////////////
# Puerto de la aplicación
PORT=<PUERTO_DE_LA_APP>
# URL de tu MongoDB local
MONGO_LOCAL=<URL_DE_TU_MONGO_LOCAL>
# URL de tu MongoDB Atlas
MONGO_ATLAS=<URL_DE_TU_MONGO_ATLAS>
# Nombre de la base de datos
DB_NAME=<NOMBRE_DE_LA_BASE_DE_DATOS>
# Nombre de la cookie key
COOKIE_KEY=<NOMBRE_DE_LA_COOKIE_KEY>
# Session secret key
SECRET_KEY=<NOMBRE_DE_LA_SECRET_KEY>
# Github client id
GITHUB_CLIENT_ID=<GITHUB_CLIENT_ID>
# Github secret key
GITHUB_SECRET_KEY=<GITHUB_SECRET_KEY>
# URL Github callback
GITHUB_CALLBACK_URL=<GITHUB_CALLBACK_URL>