{{! //////////////////////////////////////////////////////////////// }}
{{!  /src/views/dashboard.handlebars -  HTML con sintaxis de Handlebars  }}
{{! //////////////////////////////////////////////////////////////// }}

<html>
  <head>
    <meta name='Authorization' content='Bearer <token>' />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Prueba de autenticación con JWT</h1>
    <button onclick='testAuthentication()'>Verificar autenticación</button>
    <p id='result'></p>
    <script src='/js/dashboardJwt/index.js'></script>
  </body>
</html>